@import '@fontsource/ibm-plex-mono/400.css';
@import '@fontsource/ibm-plex-mono/400-italic.css';
@import '@fontsource/ibm-plex-mono/500.css';
@import '@fontsource/ibm-plex-mono/500-italic.css';

@import 'tailwindcss';

@theme {
    --font-mono: 'IBM Plex Mono', ui-monospace, monospace;
}

@layer base {
    body {
        @apply bg-white dark:bg-black;
    }
}
